<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="car">

    <ros2_control name="msauber_trottle" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="rear_right_wheel_spin">
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="rear_left_wheel_spin">
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="front_right_steer">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="front_left_steer">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        
    </ros2_control> 
    
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>/home/andreas/dev_ws/src/msauber/config/effort_control_config.yaml</parameters>  
        </plugin>
    </gazebo>

</robot>